<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>WELCOME TO SYENA-INFOSOFT</h3>
<h4>Employee Details:</h4>
<table border="1">
	<tr>
		<th>EmpId</th>
		<th>EmpName</th>
		<th>EmpSal</th>
		<th>EmpMail</th>
		<th>EmpDept</th>
		<th>hra</th>
		<th>da</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
		<tr th:each="ob:${list}">
			<td th:text="${ob.eid}"></td>
			<td th:text="${ob.ename}"></td>
			<td th:text="${ob.esal}"></td>
			<td th:text="${ob.email}"></td>
			<td th:text="${ob.dept}"></td>
			<td th:text="${ob.hra}"></td>
			<td th:text="${ob.da}"></td>
			<td><a th:href="@{/employee/edit(eid=${ob.eid})}">Edit</a></td>
			<td><a th:href="@{/employee/delete(eid=${ob.eid})}">Delete</a></td>
		</tr>
	</table>
	<p th:text="${message}"></p>
	
		<span th:if="${!page.isFirst()}">
	<a th:href="@{/employee/all(page=0)}">FIRST</a> &nbsp; &nbsp;
	</span>
	<span th:if="${page.hasPrevious()}">
	<a th:href="@{/employee/all(page=${page.number-1})}">Previous</a> &nbsp; &nbsp;
	</span>
	<th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
		<a th:href="@{/employee/all(page=${i})}">[[${i}+1]]</a> &nbsp; &nbsp;
		</th:block>
		<span th:if="${page.hasNext()}">
	<a th:href="@{/employee/all(page=${page.number+1})}">Next</a> &nbsp; &nbsp;
	</span>
		<span th:if="${!page.isLast()}">
	<a th:href="@{/employee/all(page=${page.totalPages-1})}">LAST</a> &nbsp; &nbsp;
	</span>
	<hr>
	
	
</body>
</html>