<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/employee/update}" method="POST" th:object="${emp}">
<pre>
ID  : <input type="number" th:field="*{eid}" readonly/>
NAME: <input type="text" th:field="*{ename}"/>
MAIL: <input type="email" th:field="*{email}"/>
SAL : <input type="number" th:field="*{esal}"/>
DEPT: <select th:field="*{dept}">
		<option value="">-SELECT-</option>
		<option value="DEV">DEV</option>
		<option value="QA">QA</option>
		<option value="BA">BA</option>
      </select>
	<input type="submit" value="Update"/>
</pre>
</form>
</body>
</html>